@import url('https://fonts.googleapis.com/css2?family=Atomic+Age&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Kumar+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    cursor: url('./cursor.png'), auto;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    overflow: auto;
    scrollbar-width: none;
}

.logo {
    height: 2.75rem;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto 20px;
    width: 80vw;
    height: 64px;
    font-family: "Bona Nova SC", serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.nav-items {
    display: flex;
    border-radius: 24px;
    background-color: #CADCFC;
    width: 40vw;
    height: 64px;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
    list-style: none;
    margin: auto;
    text-align: center;
}

.about {
    height: 100vh;
    width: 100vw;
}

nav a:hover {
    background-color: #1a3971;
    color: #CADCFC;
    border: #7f94bb;
    padding: 15px;
    border-radius: 24px;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #1a3971;
    display: none;
    opacity: 0;
    font-size: 1.8rem;
}

#connectButton {
    background-color: #1a3971;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
    margin: 0 auto 2px 0;
    line-height: 26px;
    padding: 9px;
    font-family: 'Bona Nova SC';
    display: none;
}

#connectButton1 {
    background-color: #1a3971;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: 0 auto 2px 0;
    line-height: 26px;
    padding: 9px;
    font-family: 'Bona Nova SC';
}

#connectButton1:hover {
    background-color: rgb(202, 220, 252);
    color: #1a3971;
    cursor: pointer;
    border: solid 0.2px #1a3971;
    box-shadow: 5px 5px #1a3971;
}
#connectButton:hover {
    cursor: pointer;
}

.blockchain{
    text-decoration: none;
    color: white;
}
.blockchain:hover{
    background-color: #CADCFC;
    color: #1a3971;
    padding: 0px;
}
.blockchain1:hover{
    background-color: #CADCFC;
    color: #1a3971;
    padding: 0px;
}
.li {
    width: 11rem;
}

nav ul li a {
    color: #1a3971;
    text-decoration: none;
}

.hero {
    height: calc(100vh - 78.4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero1,
.hero2 {
    transition: transform 0.1s ease-out;
    transform-origin: center center;
}

.hero1 {
    height: 10rem;
    position: absolute;
    z-index: -1;
    transform: translate(0px, -100px) scale(1);
}

.hero2 {
    height: 15rem;
    position: absolute;
    z-index: 1;
    transform: translate(0px, 0px) scale(1);
}

.hero {
    height: calc(764.15px - 248.4px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2 {
    font-family: 'Atomic Age', serif;
    font-weight: 725;
    font-size: 50px;
    font-style: normal;
    line-height: 10px;
    color: #1a3971;
}

.imgcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Token {
    font-family: 'Kumar One', serif;
    font-weight: 725;
    font-size: 120px;
    font-style: normal;
    line-height: 10px;
    color: #1a3971;
    position: absolute;
    transform: translate(0%, 2rem);
}

.blinking-cursor {
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: #1a3971;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.hero-btn {
    display: flex;
    gap: 20px;
    height: 3em;
    margin: 0 20px;
}

.create:hover {
    background-color: #CADCFC;
    color: #1a3971;
    border: solid 0.2px #1a3971;
    box-shadow: 5px 5px #1a3971;
}

.create {
    border: none;
    background-color: #1a3971;
    border-radius: 9px;
    font-size: 15px;
    width: 15rem;
    height: auto;
    color: white;
    cursor: pointer;
    font-family: "Bona Nova SC";
}

.explore {
    border: none;
    background-color: #1a3971;
    border-radius: 9px;
    font-size: 15px;
    width: 7em;
    height: auto;
    color: white;
    cursor: pointer;
}

.hero1 {
    text-shadow: 2px 2px 5px black;
    height: 11.5rem;
    position: relative;
    z-index: -1;
    transform: translate(0%, -56%);
}

.hero2 {
    height: 16rem;
    position: relative;
    z-index: 1;
}

.mint-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #CADCFC;
}

.mint-hero {
    position: absolute;
    top: 5rem;
    right: 3rem;
}

.metamask {
    width: 100%;
    background-color: #1a3971;
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    font-family: "Bona Nova SC";
}

.metamask:hover {
    background-color: white;
    color: #1a3971;
    cursor: pointer;
    border: solid 0.2px #1a3971;
    box-shadow: 5px 5px #1a3971;
}

.mint-area {
    background-color: white;
    border: solid 0.2px #1a3971;
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 24px;
    box-shadow: 10px 10px #1a3971;
}

.form-box {
    margin-top: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-value {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.mint-he {
    height: 26%;
}

.mint-h2 {
    font-family: "Kumar One", serif;
    font-size: 2rem;
    color: #1a3971;
    margin-bottom: 0px;
}

.mint-p {
    font-family: "Bona Nova SC";
    color: #7f94bb;
    margin-top: 0px;
    text-align: center;
}

.mint-form {
    height: 70%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputbox {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #1a3971;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 0 35px 0 5px;
    color: #1a3971;
}

.inputbox label {
    position: absolute;
    top: 5%;
    left: 5px;
    transform: translateY(-50%);
    color: #5b75a1;
    font-size: 1em;
    pointer-events: none;
    transition: .7s;
}

.mint-btn {
    background-color: #1a3971;
    color: white;
    padding: 9px;
    border-radius: 9px;
    border: none;
    cursor: pointer;
}

.back-button {
    background-color: #1a3971;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    position: fixed;
    left: 2rem;
}

.back-button:hover {
    background-color: white;
    color: #1a3971;
    border: solid 0.2px #1a3971;
    box-shadow: 5px 5px #1a3971;
}

.faq-he {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.faq-h2 {
    font-family: "Kumar One", serif;
    font-size: 2rem;
    color: #1a3971;
    margin-bottom: 0px;
}

.faq-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: start;
    font-family: Verdana;
    width: 80%;
    color: #1a3971;
}

.faq-question {
    border: solid 0.2px #CADCFC;
    background-color: white;
    padding: 20px;
    border-radius: 9px;
    box-shadow: 7px 7px #CADCFC;
    height: 9rem;
}

.faq-question h3 {
    font-family: "Bona Nova SC";
    margin-bottom: 10px;
}

.faq-question p {
    margin: 0;
}

.down {
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.downmain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.he {
    position: relative;
    left: 2rem;
}

.h21 {
    font-size: 3rem;
    font-family: "Titillium Web", serif;
}

.h22 {
    font-family: "Kumar One";
    font-size: 9rem;
}

.down h2 {
    font-weight: 725;
    font-style: normal;
    line-height: 0px;
    color: rgb(26, 57, 113);
}

.down p {
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #1a3971;
    font-size: x-large;
    font-weight: 500;
    text-align: justify;
}

.ethereum {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.ethdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.eth-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.eth-he {
    margin: auto;
    position: relative;
    left: 2rem;
}

.eth-h21 {
    font-size: 3rem;
    font-family: "Titillium Web", serif;
}

.eth-h22 {
    font-family: "Kumar One";
    font-size: 9rem;
}

.ethereum h2 {
    font-weight: 725;
    font-style: normal;
    line-height: 0px;
    color: rgb(26, 57, 113);
}

.ethereum p {
    width: 70%;
    justify-content: center;
    align-items: center;
    color: #1a3971;
    font-size: x-large;
    font-weight: 500;
    text-align: justify;
}

.features {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bigbox {
    height: 190vh;
    width: 75vw;
    margin: auto;
    background-color: rgb(202, 220, 252);
    position: relative;
}

.features .puz {
    width: 75vw;
    margin: auto;
}

.cards1 {
    display: flex;
}

.lsideb {
    height: 40rem;
    background-color: #fff;
    border-radius: 90px;
    width: 40vw;
    margin: auto 2px auto 2rem;
    position: relative;
    z-index: 1;
}

.sidecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    position: relative;
    z-index: 1;
}

.rsides1,
.rsides2 {
    height: 19.5rem;
    background-color: #fff;
    border-radius: 90px;
    width: 31vw;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.cards2 {
    display: flex;
}

.rsideb {
    height: 30rem;
    background-color: #fff;
    border-radius: 90px;
    width: 40vw;
    margin: 30px 29px auto 2px;
}

.sidecard2 {
    display: flex;
    align-items: center;
    gap: 2px;
    width: 40vw;
    margin: auto 2px auto 2rem;
}

.lsides1,
.lsides2 {
    height: 30rem;
    background-color: #fff;
    border-radius: 90px;
    width: 20vw;
    margin: 30px 0px auto;
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
}

.lsides1:hover,
.lsides2:hover,
.lsideb:hover,
.rsides1:hover,
.rsides2:hover,
.rsideb:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    background-color: #CADCFC;
}

.f {
    position: relative;
    text-align: center;
}

.f1,
.f2 {
    font-family: "Titillium Web", serif;
    font-weight: 725;
    font-size: 50px;
    color: rgb(26, 57, 113);
    margin: 0;
    line-height: 1.2;
}

.f2 {
    font-family: "Kumar One", serif;
    font-size: 7rem;
    margin-bottom: -3rem;
}

.feature-card {
    position: relative;
    overflow: hidden;
    border-radius: 90px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.feature-heading h3 {
    font-family: "Kumar one", serif;
    font-weight: 725;
    font-size: 1.5rem;
    color: rgb(26, 57, 113);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.feature-img {
    display: flex;
    justify-content: center;
}

.feature-content {
    padding: 15px;
    text-align: center;
    background-color: white;
    border-radius: 0 0 15px 15px;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    color: #1a3971;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: "Bona Nova SC", serif;
    transition: opacity 0.3s ease;
}

.feature-card:hover .feature-content {
    opacity: 1;
    background-color: #dde3ee;
}

.feature-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.smart-contracts {
    width: 24rem;
    height: auto;
}

.defi {
    width: 12rem;
    height: auto;
}

.ethereum-2 {
    width: 12rem;
    height: auto;
}

.security {
    width: 12rem;
    height: auto;
}

.dao {
    width: 12rem;
    height: auto;
}

.interoperability {
    width: 12rem;
    height: auto;
}

.work {
    width: 100vw;
    height: 100vh;
}

.lineC {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 12rem;
}

.animated-line {
    margin: 10rem 0 0 0;
    display: block;
}

.how-our-site-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: "Kumar One", serif;
}

.whead {
    font-size: 4rem;
    font-family: 'Kumar One';
    color: #1a3971;
}

.subwhead {
    font-family: "Bona Nova SC";
    font-size: 2rem;
    color: #7487a9;
    text-align: center;
}

.steps {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 70vw;
    gap: 20px;
    margin: 3rem;
    color: #1a3971;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 20vh;
    width: 20vw;
}

.step:nth-child(odd) {
    align-self: flex-start;
    flex-direction: row-reverse;
}

.step:nth-child(even) {
    align-self: flex-end;
}

.step h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.step .step-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.step .step-content img,
.step .step-content h3 {
    opacity: 1;
}

.step:hover .step-content img,
.step:hover .step-content h3 {
    opacity: 0;
}

.step .step-description {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: auto;
    font-family: "Bona Nova SC", serif;
}

.step:hover .step-description {
    opacity: 1;
}

.step h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.credits-he{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a3971;
    font-size: 2rem;
    font-family: "Kumar One",serif;
}
.credits{
    width: 50vw;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 60vh;
    text-decoration: none;
    color: #1a3971;
    font-family: "Bona Nova SC";
    font-size: 1.25rem;
}
.credits p{
    width:50vw;
    text-align: center;
}
.credits a{
    text-decoration: none;
}
@media (max-width:1300px) {
    .faq-he {
        height: 20vh;
    }

    .faq-question {
        height: 25vh;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .hero h2 {
        font-size: 40px;
    }

    .Token {
        font-size: 80px;
        transform: translate(0%, 1rem);
    }

    .hero1 {
        height: 9rem;
    }

    .hero2 {
        height: 12rem;
    }

    .para {
        width: 60vw;
    }

    .eth-para {
        width: 60vw;
    }

    .step {
        flex-direction: column;
        height: auto;
        width: 80vw;
    }

    .navbar {
        width: 83%;
        gap: 20px;
    }

    #connectButton1 {
        padding: 9px;
    }

    .h21 {
        font-size: 45px;
    }

    .h22 {
        font-size: 70px;
    }

    .eth-h21 {
        font-size: 45px;
    }

    .eth-h22 {
        font-size: 70px;
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
        font-size: 1.5rem;
    }

    .para {
        width: 50vw;
    }

    .eth-para {
        width: 50vw;
    }

    .steps {
        width: 100%;
        gap: 100px;
    }

    .step {
        width: 40%;
        height: 25vh;
    }

    .animated-line {
        height: 130vh;
        display: none;
    }

    .f1 {
        font-size: 2.95rem;
    }

    .f2 {
        font-size: 4.5rem;
    }
}

@media (max-width:1092px) {
    .navbar {
        width: 92%;
        gap: 20px;
    }

    .nav-items {
        text-align: center;
        gap: 15px;
    }

    #connectButton1 {
        padding: 9px;
    }

    .faq-he {
        height: 20vh;
    }

    .faq-question {
        height: 25vh;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .h21 {
        font-size: 45px;
    }

    .h22 {
        font-size: 70px;
    }

    .eth-h21 {
        font-size: 45px;
    }

    .eth-h22 {
        font-size: 70px;
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
        font-size: 1.5rem;
    }

    .eth-para {
        width: 50vw;
    }

    .steps {
        width: 100%;
        gap: 100px;
    }

    .step {
        width: 40%;
        height: 25vh;
    }

    .animated-line {
        height: 130vh;
        display: none;
    }

    .f1 {
        font-size: 2.95rem;
    }

    .f2 {
        font-size: 4.5rem;
    }
}

@media (max-width:992px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .navbar {
        width: 90%;
        display: flex;
        gap: 0px;
    }

    .nav-items {
        width: 50%;
        gap: 10px;
        padding: auto;
        text-align: center;
    }

    .logo {
        width: auto;
        height: 2.75rem;
    }

    .nav-button {
        width: 6rem;
    }
    .blockchain1{
        text-decoration: none;
        color: white;
    }
    .blockchain1:hover{
        text-decoration: none;
        color: white;
        background-color: #1a3971;
        width: 100%;
    }
    #connectButton1 {
        padding: 3px;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .mint-area {
        height: 60%;
        width: 60%;
    }

    .form-box {
        margin-top: 0px;
    }

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-he {
        height: 20vh;
    }

    .faq-question {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12rem;
    }

    .down {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .h21 {
        font-size: 2.5rem;
    }

    .h22 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 42px;
    }

    .ethereum {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eth-he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .eth-h21 {
        font-size: 2.5rem;
    }

    .eth-h22 {
        font-size: 2.5rem;
    }

    .Token {
        font-size: 76px;
    }

    .hero1 {
        height: 4.7rem;
        position: relative;
        z-index: -1;
        transform: translate(0%, -56%);
    }

    .hero2 {
        height: 6.7rem;
        position: relative;
        z-index: 1;
        transform: translate(0%, -56%);
    }

    .downmain {
        margin: 0px 2px 30px 0px;
    }

    .para {
        width: 70vw;
    }

    .ethdown {
        margin: 0px 2px 30px 0px;
    }

    .eth-para {
        width: 70vw;
    }

    .bigbox {
        width: 100%;
        height: 235vh;
    }

    .ethereum p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    .f1 {
        font-size: 2.95rem;
    }

    .f2 {
        font-size: 4.5rem;
    }

    .cards1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .sidecard {
        width: 100%;
    }

    .sidecard2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .lsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsides1,
    .lsides2,
    .rsides1,
    .rsides2,
    .rsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsidesb:hover {
        transform: scale(1);
    }

    .lsides2:hover,
    .lsides1:hover,
    .rsides1:hover,
    .rsides2:hover,
    .rsideb:hover {
        transform: scale(1);
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
    }

    .feature-card:hover {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .feature-heading h3 {
        font-size: 1.2rem;
    }

    .smart-contracts {
        height: 8rem;
        width: auto;
    }

    .defi {
        height: 8rem;
        width: auto;
    }

    .ethereum-2 {
        height: 11rem;
        width: auto;
    }

    .security {
        height: 10rem;
        width: auto;
    }

    .dao {
        height: 10rem;
        width: auto;
    }

    .interoperability {
        height: 10rem;
        width: auto;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .animated-line {
        width: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 25vh;
    }

    .step:nth-child(even) {
        align-self: center;
    }

    .step:nth-child(odd) {
        align-self: center;
    }

    .step .step-description {
        font-size: 1.2rem;
        width: 65%;
    }

    .lineC {
        display: none;
    }

    .how-our-site-works {
        padding: 0px;
    }

    .how-our-site-works .whead {
        font-size: 2.25rem;
    }

    .how-our-site-works .subwhead {
        font-size: 1rem;
        margin: auto;
        width: 80vw;
        text-align: center;
    }

    .features .puz {
        width: 100%;
    }
    .credits-he{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1a3971;
        font-size: 1.5rem;
        font-family: "Kumar One",serif;
    }
    .credits{
        width: 80vw;
        height: 60vh;
    }
    .credits p{
        width: 80vw;
    }
}

@media (max-width:768px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .nav-btn {
        display: block;
        opacity: 1;
        top: 2rem;
        right: 3rem;
        position: absolute;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
    }

    nav a:hover {
        background-color: #1a3971;
        color: #CADCFC;
        border: #7f94bb;
        padding: 15px;
        border-radius: 24px;
        width: 5rem;
    }

    .nav-items {
        position: fixed;
        top: 0;
        left: -130vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        transition: 1s;
        border-radius: 0;
    }

    .responsive_nav {
        transform: translatex(130vw);
        z-index: 2;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .logo {
        height: 2.75rem;
        width: auto;
    }

    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .blockchain1{
        text-decoration: none;
        color: white;
    }
    .blockchain1:hover{
        text-decoration: none;
        color: white;
        background-color: #1a3971;
        width: 100%;
    }
    #connectButton {
        display: flex;
        margin: 0;
    }

    #connectButton1 {
        display: none;
    }

    .faq-he {
        height: 30vh;
    }

    .faq-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-family: Verdana;
        height: 100%;
        width: 80%;
        color: #1a3971;
    }

    .faq-question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 25vh;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .mint-area {
        height: 60%;
        width: 80%;
    }

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .down {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .h21 {
        font-size: 2.5rem;
    }

    .h22 {
        font-size: 2.5rem;
    }

    .ethereum {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eth-he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .eth-h21 {
        font-size: 2.5rem;
    }

    .eth-h22 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 42px;
    }

    .Token {
        font-size: 76px;
    }

    .hero1 {
        height: 4.7rem;
        position: relative;
        z-index: -1;
        transform: translate(0%, -56%);
    }

    .hero2 {
        height: 6.7rem;
        position: relative;
        z-index: 1;
        transform: translate(0%, -56%);
    }

    .ethdown {
        margin: 0px 2px 30px 0px;
    }

    .bigbox {
        width: 100%;
        height: 235vh;
    }

    .ethereum p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    .f1 {
        font-size: 2.5rem;
    }

    .f2 {
        font-size: 2.5rem;
    }

    .cards1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .sidecard {
        width: 100%;
    }

    .sidecard2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .lsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsides1,
    .lsides2,
    .rsides1,
    .rsides2,
    .rsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsidesb:hover {
        transform: scale(1);
    }

    .lsides2:hover,
    .lsides1:hover,
    .rsides1:hover,
    .rsides2:hover,
    .rsideb:hover {
        transform: scale(1);
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
    }

    .feature-card:hover {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .feature-heading h3 {
        font-size: 1.2rem;
    }

    .smart-contracts {
        height: 8rem;
        width: auto;
    }

    .defi {
        height: 8rem;
        width: auto;
    }

    .ethereum-2 {
        height: 11rem;
        width: auto;
    }

    .security {
        height: 10rem;
        width: auto;
    }

    .dao {
        height: 10rem;
        width: auto;
    }

    .interoperability {
        height: 10rem;
        width: auto;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .animated-line {
        width: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 25vh;
    }

    .step:nth-child(even) {
        align-self: center;
    }

    .step:nth-child(odd) {
        align-self: center;
    }

    .step .step-description {
        font-size: 1.2rem;
        width: 65%;
    }

    .lineC {
        display: none;
    }

    .para {
        width: 100%;
    }

    .how-our-site-works {
        padding: 0px;
    }

    .how-our-site-works .whead {
        font-size: 2.25rem;
    }

    .how-our-site-works .subwhead {
        font-size: 1rem;
        margin: auto;
        width: 80vw;
        text-align: center;
    }

    .features .puz {
        width: 100%;
    }
}

@media (max-width:576px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .nav-btn {
        display: block;
        opacity: 1;
        top: 2rem;
        right: 3rem;
        position: absolute;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
        margin-left: 25px;
    }

    .nav-items {
        position: fixed;
        top: 0;
        left: -130vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        transition: 1s;
        border-radius: 0px;
    }

    .responsive_nav {
        transform: translatex(130vw);
        z-index: 2;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .logo {
        height: 2.75rem;
        width: auto;
    }

    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .blockchain1{
        text-decoration: none;
        color: white;
    }
    .blockchain1:hover{
        text-decoration: none;
        color: white;
        background-color: #1a3971;
        width: 100%;
    }
    #connectButton {
        margin: 0;
    }

    #connectButton1 {
        width: 10%;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .faq-he {
        height: 30vh;
    }

    .faq-content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
        align-items: start;
        font-family: Verdana;
        height: 100%;
        width: 80%;
        color: #1a3971;
    }

    .faq-question {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25vh;
    }

    .down {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .h21 {
        font-size: 2.5rem;
    }

    .h22 {
        font-size: 2.5rem;
    }

    .ethereum {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eth-he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .eth-h21 {
        font-size: 2.5rem;
    }

    .eth-h22 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 42px;
    }

    .Token {
        font-size: 76px;
    }

    .mint-area {
        height: 60%;
        width: 80%;
    }

    .hero1 {
        height: 4.7rem;
        position: relative;
        z-index: -1;
        transform: translate(0%, -56%);
    }

    .hero2 {
        height: 6.7rem;
        position: relative;
        z-index: 1;
        transform: translate(0%, -56%);
    }

    .ethdown {
        margin: 0px 2px 30px 0px;
    }

    .bigbox {
        width: 100%;
        height: 235vh;
    }

    .ethereum p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    .f1 {
        font-size: 2.5rem;
    }

    .f2 {
        font-size: 2.5rem;
    }

    .cards1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .sidecard {
        width: 100%;
    }

    .sidecard2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .lsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsides1,
    .lsides2,
    .rsides1,
    .rsides2,
    .rsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsidesb:hover {
        transform: scale(1);
    }

    .lsides2:hover,
    .lsides1:hover,
    .rsides1:hover,
    .rsides2:hover,
    .rsideb:hover {
        transform: scale(1);
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
    }

    .feature-card:hover {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .feature-heading h3 {
        font-size: 1.2rem;
    }

    .smart-contracts {
        height: 8rem;
        width: auto;
    }

    .defi {
        height: 8rem;
        width: auto;
    }

    .ethereum-2 {
        height: 11rem;
        width: auto;
    }

    .security {
        height: 10rem;
        width: auto;
    }

    .dao {
        height: 10rem;
        width: auto;
    }

    .interoperability {
        height: 10rem;
        width: auto;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .animated-line {
        width: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 25vh;
    }

    .step:nth-child(even) {
        align-self: center;
    }

    .step:nth-child(odd) {
        align-self: center;
    }

    .step .step-description {
        font-size: 1.2rem;
        width: 65%;
    }

    .lineC {
        display: none;
    }

    .how-our-site-works {
        padding: 0px;
    }

    .how-our-site-works .whead {
        font-size: 2.25rem;
    }

    .para {
        width: 100%;
    }

    .how-our-site-works .subwhead {
        font-size: 1rem;
        margin: auto;
        width: 80vw;
        text-align: center;
    }

    .features .puz {
        width: 100%;
    }
    .credits-he{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1a3971;
        font-size: 1.5rem;
        font-family: "Kumar One",serif;
    }
    .credits{
        width: 80vw;
        height: 100vh;
    }
    .credits p{
        width: 80vw;
    }
}

@media (max-width:400px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .nav-btn {
        display: block;
        opacity: 1;
        top: 2rem;
        right: 2rem;
        position: absolute;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
        margin-left: 25px;
    }

    .nav-items {
        position: fixed;
        top: 0;
        left: -130vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        transition: 1s;
        border-radius: 0px;
    }

    .responsive_nav {
        transform: translatex(130vw);
        z-index: 2;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .logo {
        height: 2.75rem;
        width: auto;
        position: relative;
        left: 1rem;
    }

    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #connectButton {
        margin: 0;
    }

    #connectButton1 {
        width: 10%;
    }
    .blockchain1{
        text-decoration: none;
        color: white;
    }
    .blockchain1:hover{
        text-decoration: none;
        color: white;
        background-color: #1a3971;
        width: 100%;
    }
    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero2 {
        height: 6rem;
        position: relative;
        z-index: 1;
    }

    .down {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .para {
        width: 100%;
    }

    .he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .h21 {
        font-size: 2.5rem;
    }

    .h22 {
        font-size: 2.5rem;
    }

    .ethereum {
        height: 134vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eth-para {
        width: 70%;
    }

    .eth-he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .eth-h21 {
        font-size: 2.5rem;
    }

    .eth-h22 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 42px;
    }

    .Token {
        font-size: 76px;
    }

    .hero1 {
        height: 4.7rem;
        position: relative;
        z-index: -1;
        transform: translate(0%, -56%);
    }

    .hero2 {
        height: 6.7rem;
        position: relative;
        z-index: 1;
        transform: translate(0%, -56%);
    }

    .ethdown {
        margin: 0px 2px 30px 0px;
    }

    .bigbox {
        width: 100%;
        height: 200vh;
    }

    .ethereum p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    .f1 {
        font-size: 2.5rem;
    }

    .f2 {
        font-size: 2.5rem;
    }

    .cards1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .sidecard {
        width: 100%;
    }

    .sidecard2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .lsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsides1,
    .lsides2,
    .rsides1,
    .rsides2,
    .rsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsidesb:hover {
        transform: scale(1);
    }

    .lsides2:hover,
    .lsides1:hover,
    .rsides1:hover,
    .rsides2:hover,
    .rsideb:hover {
        transform: scale(1);
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
    }
    .features{
        height: 100%;
    }
    .feature-card:hover {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .feature-heading h3 {
        font-size: 1.2rem;
    }

    .smart-contracts {
        height: 8rem;
        width: auto;
    }

    .defi {
        height: 8rem;
        width: auto;
    }

    .ethereum-2 {
        height: 11rem;
        width: auto;
    }

    .security {
        height: 10rem;
        width: auto;
    }

    .dao {
        height: 10rem;
        width: auto;
    }

    .interoperability {
        height: 10rem;
        width: auto;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .animated-line {
        width: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 25vh;
    }

    .step:nth-child(even) {
        align-self: center;
    }

    .step:nth-child(odd) {
        align-self: center;
    }

    .step .step-description {
        font-size: 1.2rem;
        width: 65%;
    }

    .lineC {
        display: none;
    }

    .how-our-site-works {
        padding: 0px;
    }

    .how-our-site-works .whead {
        font-size: 2.25rem;
    }

    .how-our-site-works .subwhead {
        font-size: 1rem;
        margin: auto;
        width: 80vw;
        text-align: center;
    }

    .features .puz {
        width: 100%;
    }
    .credits-he{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1a3971;
        font-size: 1.5rem;
        font-family: "Kumar One",serif;
    }
    .credits{
        width: 80vw;
        height: 100vh;
    }
    .credits p{
        width: 80vw;
    }
}

@media (max-width:360px) {
    body {
        overflow-x: hidden;
        width: 100%;
    }

    .nav-btn {
        display: block;
        opacity: 1;
        top: 2rem;
        right: 2rem;
        position: absolute;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 13rem;
        margin-left: 25px;
    }

    .nav-items {
        position: fixed;
        top: 0;
        left: -130vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        text-align: left;
        transition: 1s;
        border-radius: 0px;
    }

    .responsive_nav {
        transform: translatex(130vw);
        z-index: 2;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    .logo {
        height: 2.75rem;
        width: auto;
        position: relative;
        left: 1rem;
    }
    .blockchain1{
        text-decoration: none;
        color: white;
    }
    .blockchain1:hover{
        text-decoration: none;
        color: white;
        background-color: #1a3971;
        width: 100%;
    }
    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #connectButton {
        margin: 0;
    }

    #connectButton1 {
        width: 10%;
    }

    .back-button {
        background-color: #1a3971;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px;
        position: absolute;
        left: 2rem;
    }

    .back-button:hover {
        background-color: #CADCFC;
        color: #1a3971;
    }

    .hero {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero1 {
        transform: translate(0%, -30%);
    }

    .down {
        height: 134vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .para {
        width: 100%;
    }
    .he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .h21 {
        font-size: 2.5rem;
    }

    .h22 {
        font-size: 2.5rem;
    }

    .ethereum {
        height: 134vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .eth-he {
        display: flex;
        flex-direction: column;
        margin: 0px auto 0px auto;
        left: 0;
    }

    .eth-h21 {
        font-size: 2.5rem;
    }

    .eth-h22 {
        font-size: 2.5rem;
    }

    .hero h2 {
        font-size: 42px;
    }

    .Token {
        font-size: 76px;
    }

    .hero1 {
        height: 4.7rem;
        position: relative;
        z-index: -1;
        transform: translate(0%, -56%);
    }

    .hero2 {
        height: 6.7rem;
        position: relative;
        z-index: 1;
        transform: translate(0%, -56%);
    }

    .ethdown {
        margin: 0px 2px 30px 0px;
    }

    .bigbox {
        width: 100%;
        height: 211vh;
    }

    .ethereum p {
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }

    .f1 {
        font-size: 2.5rem;
    }

    .f2 {
        font-size: 2.5rem;
    }

    .cards1 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .cards2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100vw;
        align-items: center;
        margin-top: 1.25rem;
    }

    .sidecard {
        width: 100%;
    }

    .sidecard2 {
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 100%;
        align-items: center;
        margin: auto;
    }

    .lsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsides1,
    .lsides2,
    .rsides1,
    .rsides2,
    .rsideb {
        height: 15rem;
        width: 94%;
        margin: 10px auto;
    }

    .lsidesb:hover {
        transform: scale(1);
    }

    .lsides2:hover,
    .lsides1:hover,
    .rsides1:hover,
    .rsides2:hover,
    .rsideb:hover {
        transform: scale(1);
    }

    .feature-card:hover .feature-content {
        transform: scale(1);
        opacity: 1;
        background-color: #dde3ee;
        font-size: 1rem;
    }

    .feature-card:hover {
        transform: scale(1);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    }

    .feature-heading h3 {
        font-size: 1rem;
    }

    .smart-contracts {
        height: 8rem;
        width: auto;
    }

    .defi {
        height: 8rem;
        width: auto;
    }

    .ethereum-2 {
        height: 11rem;
        width: auto;
    }

    .security {
        height: 10rem;
        width: auto;
    }

    .dao {
        height: 10rem;
        width: auto;
    }

    .interoperability {
        height: 10rem;
        width: auto;
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }

    .animated-line {
        width: 100%;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
        height: 25vh;
    }

    .step:nth-child(even) {
        align-self: center;
    }

    .step:nth-child(odd) {
        align-self: center;
    }

    .step .step-description {
        font-size: 1rem;
        width: 65%;
    }

    .lineC {
        display: none;
    }

    .how-our-site-works {
        padding: 0px;
    }

    .how-our-site-works .whead {
        font-size: 2.25rem;
    }

    .how-our-site-works .subwhead {
        font-size: 1rem;
        margin: auto;
        width: 80vw;
        text-align: center;
    }

    .features .puz {
        width: 100%;
    }
    .credits-he{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1a3971;
        font-size: 1.5rem;
        font-family: "Kumar One",serif;
    }
    .credits{
        width: 80vw;
        height: 100vh;
    }
    .credits p{
        width: 80vw;
    }
}